{% if item.type == 'postgres' %}
{% if item.dbpass|d() %}
export PGPASSWORD="{{ item.dbpass }}"
export DBHOSTARG="-h {{ item.dbhost|default('localhost') }}"
{% endif %}
pg_dump -n public -c -d {{ item.dbname }} -U {{ item.dbuser }} $DBHOSTARG
{% endif %}

{% if item.type == 'mariadb' %}
mysqldump -h {{ item.dbhost|default('localhost') }} -u {{ item.dbuser }} --password="{{ item.dbpass }}" {{ item.dbname }}
{% endif %}
