#!/bin/bash

WORKDIR=`mktemp -d`
cd $WORKDIR

{% for folder in persistent_data_folders %}
ln -s "{{ folder }}" .
{% endfor %}

{% for dbitem in persistent_data_databases %}
{{ persistent_data_path }}/export_db_{{ dbitem.name }}.sh > {{ dbitem.name }}
{% endfor %}

tar -ch *

cd /tmp
rm -rf "${WORKDIR}"

