{% if item.type == 'postgres' %}
{% if item.dbpass|d() %}
export PGPASSWORD="{{ item.dbpass }}"
export DBHOSTARG="-h {{ item.dbhost|default('localhost') }}"
{% endif %}
dropdb -U {{ item.dbuser }} $DBHOSTARG {{ item.dbname }}
createdb -U {{ item.dbuser }} $DBHOSTARG {{ item.dbname }}
psql -d {{ item.dbname }} -U {{ item.dbuser }} $DBHOSTARG
{% endif %}

{% if item.type == 'mariadb' %}
mysql -h {{ item.dbhost|default('localhost') }} -u {{ item.dbuser }} --password="{{ item.dbpass }}" -e 'drop database {{ item.dbname }}; create database {{ item.dbname }};'
mysql -h {{ item.dbhost|default('localhost') }} -u {{ item.dbuser }} --password="{{ item.dbpass }}" -D {{ item.dbname }}
{% endif %}

