#!/bin/bash

WORKDIR=`mktemp -d`
cd $WORKDIR

# First of all, let's delete our backed up folders. We do this before extracting in case we're low
# on disk space.
{% for folder in persistent_data_folders %}
rm -rf "{{ folder }}"
{% endfor %}

tar -x

{% for folder in persistent_data_folders %}
mv "{{ folder|basename }}" "{{ folder }}"
{% endfor %}

{% for dbitem in persistent_data_databases %}
{{ persistent_data_path }}/import_db_{{ dbitem.name }}.sh < {{ dbitem.name }}
{% endfor %}

cd /tmp
rm -rf "${WORKDIR}"

